body {
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    /* background: var(--container); */
    border-radius: 10px;
    padding: 10px;

    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 220px;
}

#container h1 {
    font-size: 35px;
    margin-bottom: 10px;
}

#container input,
#container button {
    outline: none;
    border: white 1px solid;

    border-radius: 5px;
    padding: 10px 5px;
    margin-top: 5px;

    background: transparent;
    color: white;
    width: 200px;
}

#container button {
    cursor: pointer;
    width: 213px;
}

#container label {
    font-size: 15px;
}

#container .error {
    color: var(--red);
}
