body {
    display: flex;
    justify-content: center;
    align-items: center;
}

#servers {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.server {
    border: white 1px solid;

    border-radius: 5px;
    padding: 10px;
    width: 250px;
    height: 20px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.server a {
    color: var(--text);
    text-decoration: none;
}

.server a:hover {
    border-bottom: 1px solid var(--text);
}

.server .actions svg {
    height: 15px;
    width: 15px;
}

.server .actions .token,
.server .actions .delete {
    cursor: pointer;
}

.server .actions {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.server .status {
    margin-right: 2px;
}

.server .status svg {
    fill: var(--red);
}

.server .status.online svg {
    fill: var(--green);
}

#modal {
    position: fixed;
    z-index: 10;
    width: 100%;
    height: 100%;
    background: var(--background);

    display: none;
    align-items: center;
    justify-content: center;
}

#modal.visible {
    display: flex;
}

#modal-close {
    position: absolute;
    z-index: 20px;
    top: 20px;
    right: 20px;

    width: 36px;
    height: 36px;
    cursor: pointer;
}

#modal-content .token-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 10px;
    margin-top: 5px;
}

#modal-content input {
    width: 250px;
    height: 25px;
    padding: 10px;
    cursor: not-allowed;
}

#modal-content button {
    padding: 5px 10px;
    height: 45px;
    cursor: pointer;
}

#modal-content button svg {
    width: 16px;
    height: 16px;
}

#modal-message {
    display: inline-block;
    max-width: 300px;
}

.demo #change-password,
.demo #add-server {
    display: none;
}
