@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100..900&display=swap");

:root {
    --background: #0f0f0f;
    --text: #e4e4e7;
    --red: #ed3500;
    --green: #00ff9c;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Noto Sans Mono", monospace;
}

body {
    background: var(--background);
    color: var(--text);
    width: 100vw;
    height: 100vh;
}

.input {
    outline: none;
    border: white 1px solid;
    border-radius: 5px;
    padding: 10px 5px;

    background: transparent;
    color: white;
}

label {
    font-size: 15px;
}

.error {
    color: var(--red);
}

.error.success {
    color: var(--green);
}

#container.forms {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 220px;
}

#container.forms input,
#container.forms button {
    width: 200px;
}

#container.forms button {
    cursor: pointer;
    width: 213px;
}

#return {
    position: fixed;
    top: 10px;
    left: 20px;
    cursor: pointer;
}

#return svg {
    width: 48px;
    height: 48px;
}
