:root {
    --background: #0f0f0f;
    --text: #e4e4e7;
    --red: #ed3500;
    --green: #00ff9c;
}

* {
    margin: 0;
    padding: 0;
    font-family: monospace;
}

body {
    background: var(--background);
    color: var(--text);
    width: 100vw;
    height: 100vh;
}

.input {
    outline: none;
    border: white 1px solid;
    border-radius: 5px;
    padding: 10px 5px;

    background: transparent;
    color: white;
}

label {
    font-size: 15px;
}
